body {
    font-family: "Times New Roman", Times, serif;
    overflow: scroll;
}

.header {
    background-color: #56a4fe;
    width: 100%;
    min-height: 88px;
    position: relative;
}

.title {
    background-color: #56a4fe;
    width: 100%;
    min-height: 88px;
    font-size: 18px;
    color: #fff;
    line-height: 90px;
    padding-left: 8px;
    font-weight: bold;
    position: relative;
}

.nav-right {
    font-size: 13px;
    color: white;
    padding: 5px 5px 0 5px;
    background-color: #56a4fe;
    height: 29px;
    top: 89px;
    right: 0px;
    position: absolute;
    font-weight: bold;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav {
    margin-top: 2px;
}

.nav-right ul {
    display: flex;
}

.nav-right ul li {
    list-style-type: none;
    text-decoration: none;
}

.nav-right a {
    padding: 0 2px;
    color: #fff;

    font-family: Arial, Helvetica, sans-serif;
}

.nav-right a:hover {
    text-decoration: none;
    color: #0d71b9;
}

select {
    font-weight: normal;
    font-size: 11px;
    margin: 0px;
    color: black;
    font-family: Tahoma, Arial, Verdana, Times New Roman;
    text-decoration: none;
    width: 50px;
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;

}

.box-user {
    position: absolute;
    width: 406px;
    min-height: 28px;
    right: 0;
    font-size: 12px;
    border-bottom-left-radius: 75px;
    background-color: #fff;
    z-index: 1;
    top: 0;
}

.info-user {
    width: 400px;
    text-align: right;
    margin-top: 2px;
}

.info-user p {
    color: blue;
    font-size: 10px;
    font-weight: bold;
    font-family: Tahoma, Arial, Verdana, Times New Roman;
}

/*search*/
.search {
    font-size: 12px;

    padding: 100px 8px 0 8px;
    font-family: Tahoma, Arial, Verdana, Times New Roman;
    height: 29px;
    top: 0px;
    left: 0px;
    position: absolute;
    font-weight: bold;

}

.search input {
    border-color: CornflowerBlue;
    border-width: 1px;
    border-style: solid;
    width: 181px;
    height: 20px;
    border-radius: 4px;
}

.search a {
    padding: 0px 3px;
}