body {
  background-color: #f1f1f2;
}

.carousel-indicators li {
  width: 25px;
  height: 8px;
  border-radius: 15px;
}
.carousel {
  z-index: 0;
}
.mt-20 {
  margin-top: 30px;
}
footer {
  height: 80px;
  margin-top: 50px;
}

footer > .container,
footer .row {
  height: 100%;
}
.body {
  background-color: #f1f1f2;
}
.card {
  height: 100%;
}
.col-4 {
  margin-bottom: 30px;
}
.col-6 {
  max-width: 30%;
}
#add {
  width: 40%;
  text-align: center;
}

main .wrapper {
  display: flex;
}
main .center-sidebar {
  width: 50%;
  margin-top: 40px;
}
h2 {
  font-family: Proxima;
  font-weight: bold;
  font-size: 24px;
  margin: 40px 5px 15px;
  background-color: #bcbabe;
  border-radius: 5px;
  height: 40px;
  text-align: center;
}
article h3 {
  font-family: Proxima;
  font-weight: 300;
  font-size: 25px;
}
main .right-sidebar {
  width: 25%;
  text-align: center;
  padding-left: 20px;
}

main .right-sidebar .left-sidebar-header {
  background-color: #bcbabe;
}
main .left-sidebar {
  width: 25%;
  text-align: center;
  padding-right: 20px;
  list-style: none;
}

.article-left img {
  width: 100%;
}
article {
  display: flex;
  margin-bottom: 50px;
}
.article-left {
  width: 40%;
}
.article-left img {
  border-radius: 10px;
}
.article-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  justify-content: space-between;
}
.article-right .meta {
  margin: 18px 0;
}
.article-right .additional {
  margin-top: 18px;
}
.meta {
  font-family: Roboto;
  font-weight: 300;
  color: #999999;
  font-size: 13px;
}
.meta span::after {
  display: inline-block;
  content: "|";
  color: #999999;
  font-size: 13px;
  margin-left: 3px;
}
.meta span:last-child::after {
  display: none;
}
.category {
  color: #e3b002;
}
.description {
  color: #555555;
  font-size: 16px;
  font-family: Proxima;
  font-weight: 300;
  line-height: 1.6;
}
.description::after {
  content: ">";
  color: #e3b002;
}
.additional {
  color: #999999;
  font-size: 13px;
  font-family: Roboto;
  font-size: 300;
}

.more {
  width: 170px;
  height: 42px;
  background: transparent;
  color: black;
  font-family: Roboto;
  text-transform: uppercase;
  border: 1px solid #e3b002;
  border-radius: 5px;
  outline: none;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.dropdown > .dropdown-menu {
  top: 200%;
  transition: 0.3s all ease-in-out;
}
.dropdown:hover > .dropdown-menu {
  display: block;
  top: 100%;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
footer {
  background-color: #a1d6e2;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #a1d6e2;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  transition: all 0.3s ease-in-out;
}
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #1995ad;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type="text"],
input[type="password"] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  transition: all 0.5s ease-in-out;
  border-radius: 5px 5px 5px 5px;
}

#formContent {
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}
